asgiref==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.0.12
confusable-homoglyphs==3.2.0
Django==4.0.5
django-bootstrap4==22.1
django-crispy-forms==1.9.2
django-registration-redux==2.10
django-rest-framework==0.1.0
djangorestframework==3.13.1
idna==3.3
Pillow==9.1.1
psycopg2==2.9.3
pybase64==1.2.2
pytz==2022.1
requests==2.28.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
toml==0.10.2
urllib3==1.25.10
